.task-list {
  min-height: 200px;
}
.task {
  font-size: 23px;
}
.column {
  background: #fff80f;
  border: 2px solid #ffa500;
  border-radius: 12px;
  padding: 16px;
  width: 30%;
}
body {
  margin: 0;
  background: linear-gradient(135eg, #fff3e6, #ffd9b3);
  font-family: sans-serif;
}
h1 {
  text-align: center;
  margin-top: 20px;
  color: #ff7a00;
}
.column-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}
.task {
  background: #fffaf5;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.2s;
}
.task-hover {
  transform: scale(1.02);
}
.task-input {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}
.task-input input,
.task-input select {
  padding: 8px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ffa500;
}
.task-input button {
  background: #ff7a00;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}
.task-input button:hover {
  background: #e66a00;
}
#noticeArea {
  text-align: center;
  font-weight: bold;
  margin: 10ox 0;
  color: orange;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none; /*最初は非表示*/
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}